<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Kezdőlap</a>
                </li>
                <li class="nav-item dropdown" [hidden]="menuHidden">
                    <a class="nav-link dropdown-toggle" routerLink="menu" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Menü
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="points">Összesítés</a></li>
                        <li><a class="dropdown-item" routerLink="firstquiz">Kategória: 1</a></li>
                        <li><a class="dropdown-item" routerLink="secondquiz">Kategória: 2</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="reset">Újrakezdés</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex">
                <div [hidden]="nameHidden">
                    <input type="text" #box placeholder="Add meg a neved" name="username">
                    <button (click)="getValue(box.value)">Név megadás</button>
                </div>
                <p [hidden]="playerHidden">Játékos neve: {{displayVal}}</p>
            </div>
        </div>
    </div>
</nav>